export interface {{pascalCase name}}PresenterProps {
  // empty
}

export function {{pascalCase name}}Presenter({}: {{pascalCase name}}PresenterProps) {
  return (
    <>
      <h1>{{pascalCase name}}Presenter</h1>
    </>
  );
}
